<h1>Log In</h1>

<% form_tag session_path do -%>
<%= label_tag 'email' %>
<%= text_field_tag 'email', @email %><br/>

<%= label_tag 'password' %>
<%= password_field_tag 'password', nil %><br/>

<%= label_tag 'remember_me', 'Remember me' %>
<%= check_box_tag 'remember_me', '1', @remember_me %><br/>

<label>&nbsp;</label>
<%= submit_tag 'Log in' %><br/>
<% end -%>
<br/>
<img src="/images/openid.png">
<a href="/openid?openid_identifier=https://www.google.com/accounts/o8/id">Sign with Google</a><br/>

<strong><%= flash[:error] %></strong>

