<div id="to_<%=chapter.id%>" class="accordion-toggle" onclick="$('ch_<%=chapter.id%>').toggle();">
<div id="ch_title_<%=chapter.id%>" class="chapter_title"><%= render(:partial=>'chapter_title', :locals=>{:chapter=>chapter}) %></div>
</div>

<div id="ch_<%=chapter.id%>" class="accordion-content">
<div id="new_para_<%=chapter.id%>"><% if chapter.paragraphs == [] %><%= I18n.t(:empty_chapter) %><% end %></div>
<%= render(:partial=>'paragraph', :collection=>chapter.paragraphs) %>
</div>

