<div class="accordion-toggle">
<%= chapter.title %>
<%= link_to_remote(image_tag('para_add.png'), :url=>{:action=>:new_para, :id=>chapter.id}, :update=>"new_para_#{chapter.id}", :position=>:bottom) %>
</div>

<div id="ch_<%=chapter.id%>" class="accordion-content">
<%= render(:partial=>'paragraph', :collection=>chapter.paragraphs) %>
<div id="new_para_<%=chapter.id%>"></div>
</div>

