<div id="new_chapter">
<%= error_messages_for :chapter %>
<% form_remote_for(:chapter, @chapter, :url => {:action=>:create_chapter}, :loading=>"$('loading').show()", :update=>"script", :position=>:bottom, :complete=>"$('new_chapter').update('');") do |f| %>
  <%=I18n.t(:chapter_title)%>
  <%= f.text_field(:title) %>
  <%= submit_tag I18n.t(:send_data) %>
  <div id="loading" class="loading" style="display:none;"><%= I18n.t(:saving) %>...</div>
  <br/>
  <%= f.hidden_field(:script_id, :value=>@script_id) %>
<% end -%>
</div>

