<h1><%= h @script.name %></h1>
<% has_rights = @script.cowriters.include?(current_user) ; if has_rights %>
<%= link_to(I18n.t(:edit), {:controller=>:scripts, :action=>:edit, :id=>@script.id}, {:class=>'btnlnk'}) %> |
<%= link_to(I18n.t(:development), {:controller=>:development, :id=>@script.id}, {:class=>'btnlnk'}) %><br/>
<br/>
<% end %>
<%= I18n.t(:contributors) %>: <%= @script.contributors_names%><br/>
<%= I18n.t(:updated_at, :time=>time_ago_in_words(@script.updated_at)) %><br/>
<div id="script">
<div class="accordion-toggle accordion-toggle-active"><%= I18n.t(:pitch) %></div>
<%= @script.pitch.chain(:to_html) %>
<br/>
<%= render(:partial=>'chapter', :collection=>@chapters) %>
</div>

<% if has_rights %>
<br/>
<%= link_to_remote(I18n.t(:new_chapter), {:url=>{:controller=>:scripts, :action=>:new_chapter, :id=>@script.id}, :update=>:new_chapter, :complete=>"$('new_chapter').scrollTo()"}, {:class=>'btnlnk'}) %><br/>
<br/>
<div id="new_chapter"></div>
<% end %>

