<h1><%= @script.name %></h1>
<% if @script.editors.include?(current_user) %>
<%= link_to(I18n.t(:edit), :controller=>:scripts, :action=>:edit, :id=>@script.id) %><br/>
<br/>
<% end %>
<%= I18n.t(:editors) %>: <%= @script.editor_names%><br/>
<%= I18n.t(:updated_at, :time=>time_ago_in_words(@script.updated_at)) %><br/>
<div id="script">
<div class="accordion-toggle accordion-toggle-active"><%= I18n.t(:pitch) %></div>
<%= simple_format @script.pitch %>
<br/>
<%= render(:partial=>'chapter', :collection=>@chapters) %>
</div>
<br/>
<%= link_to_remote(I18n.t(:new_chapter), :url=>{:controller=>:scripts, :action=>:new_chapter, :id=>@script.id}, :update=>:new_chapter, :complete=>"$('new_chapter').scrollTo()") %><br/>
<br/>

<div id="new_chapter"></div>

