<h1><%= @script.name %></h1>
<% if @script.editors.include?(current_user) %>
<%= link_to(I18n.t(:edit), :controller=>:scripts, :action=>:edit, :id=>@script.id) %><br/>
<br/>
<% end %>

<b><%= I18n.t(:pitch) %></b><br/>
<%= simple_format @script.pitch %>
<br/>
<div id="script">
<%= render(:partial=>'chapter', :collection=>@chapters) %>
</div>
<br/>
<%= link_to_remote(I18n.t(:new_chapter), :url=>{:controller=>:scripts, :action=>:new_chapter, :id=>@script.id}, :update=>:new_chapter, :complete=>"$('new_chapter').scrollTo()") %><br/>
<br/>

<div id="new_chapter"></div>

