<%= render(:file=>'knols/menu') %>

<h1><%=I18n.t(:new_knol)%></h1>

<%= error_messages_for :knol %>
<% form_for :@knol, :url=>{:action=>'create'} do |f| -%>
  <%= render(:partial => f) %>
  <p><label>&nbsp;</label>
  <%= submit_tag I18n.t(:send_data) %></p>
<% end -%>

